@{
    var userId = Context.Session.GetInt32("UserId");
}

<div class="text-center">
    @if (userId.HasValue)
    {
        <h1>Jste přihlášeni</h1>
        <form asp-action="Logout" method="post">
            <button type="submit" class="btn btn-danger">Odhlásit se</button>
        </form>
    }
    else
    {
        <h1>Nejste přihlášeni</h1>
        <a asp-action="Login" class="btn btn-primary">Přihlásit se</a>
        <a asp-action="Register" class="btn btn-success">Registrovat</a>
    }
</div>